<div class="main-container">
  <div class="card-container">
    <div class="background-container">
      <div class="profile-pic">
        <img src="./../assets/profile.png" alt="" />
      </div>
      <div class="option">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="info-container">
      <div class="name-info">
        <p class="main-text">Morgan Sweeney</p>
        <p class="text">Ant Collector</p>
      </div>
      <div class="social-info">
        <div class="data">
          <div class="main-text">12</div>
          <div class="text">Followers</div>
        </div>
        <div class="data">
          <div class="main-text">1000</div>
          <div class="text">Following</div>
        </div>
      </div>
      <div class="cta-info">
        <button>Follow</button>
        <div class="info">
          Morgan has collected ants since they were six years old and now has
          many dozen ants but none in their pants.
        </div>
      </div>
    </div>
  </div>
</div>
